.enemy-interface {
  display: flex;
  flex-flow: column;
  height: 100%; }
  .enemy-interface .enemy-infos-component {
    background-color: #ef43d6;
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    padding: 10px;
    margin: 0 10px;
    flex: auto; }
    .enemy-interface .enemy-infos-component .barreVie {
      background-color: red;
      width: 200px;
      height: 10px;
      display: flex; }
    .enemy-interface .enemy-infos-component .barreVie2 {
      position: relative;
      background-color: green;
      height: 10px;
      left: 0; }
