.battle-log-component {
    .logs-div {
        overflow-y: scroll;
        height: calc(100vh - 140px);
        .log-row {
            text-align: start;
            padding: 5px 10px;
            margin: 0;
        }
    }
}