.figth-room {
    display: flex;
    height: calc(100vh - 20px);
    padding: 10px 0;
    .battle-log-div {
        padding: 10px;
        margin: 0 10px;
        border-style: solid;
        border-color: black;
        border-radius: 15px;

    }
    .player-interface-div {
        margin: 0 10px;
    }
    .player-interface-div {
        width: 35%;
    }
    .battle-log-div {
        width: 40%;
        background-color: lightsteelblue;
    }
    .enemy-interface-div {
        width: 25%;
    }
}