.modal-content {
    display: flex;
    align-items: center;
    align-content: center;
    p {
        margin: 15px;
    }
}

$primary-color: #ef43d6;
@import 'node_modules/loaders.css/src/animations/ball-pulse.scss';

.loader-hidden {
  display: none;
}
.loader-active {
  display: block;
}