.player-interface {
  display: flex;
  flex-flow: column;
  height: 100%; }
  .player-interface .player-information-div {
    background-color: #ef43d6;
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    padding: 10px;
    margin: 0 10px;
    flex: auto; }
    .player-interface .player-information-div .barreVie {
      background-color: red;
      width: 200px;
      height: 10px;
      display: flex;
      margin-top: 10px; }
    .player-interface .player-information-div .barreVie2 {
      position: relative;
      background-color: green;
      height: 10px;
      left: 0; }
    .player-interface .player-information-div .taille {
      width: 200px;
      height: 130px; }
    .player-interface .player-information-div .player-bouton-div {
      display: flex;
      flex-flow: row wrap; }
      .player-interface .player-information-div .player-bouton-div .button {
        margin: 0 auto; }
        .player-interface .player-information-div .player-bouton-div .button button {
          color: white;
          border-color: grey;
          background-color: grey;
          height: 100px;
          min-width: 200px;
          margin-top: 20px; }
